<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/${GITHUB_REPOSITORY_OWNER}/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="%USERNAME%" />
			<add key="ClearTextPassword" value="%PASSWORD%" />
		</github>
	</packageSourceCredentials>
</configuration>